sudo: false 
language: python
python:
  - 3.6
  - 3.7
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - python manage.py makemigrations
  - python manage.py migrate
  - python manage.py test
  - coverage run manage.py test
after_success:
  coveralls
