Django==2.2.24
djangorestframework==3.11.2
dnspython==1.16.0
docopt==0.6.2
gunicorn==19.9.0
optional-django==0.3.0
pipreqs==0.4.9
pymongo==3.8.0
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.7.0
simplejson==3.16.0
sqlparse==0.3.0
urllib3==1.26.5
virtualenv==16.6.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
websocket-client==0.48.0
dj-database-url==0.5.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
whitenoise==4.1.4
django-heroku==0.3.1