adal==1.2.2
asciinema==2.0.2
asn1crypto==0.24.0
astroid==2.2.5
autopep8==1.4.4
awscli==1.16.169
azure-cognitiveservices-language-luis==0.3.1
azure-cognitiveservices-language-textanalytics==0.2.0
azure-cognitiveservices-speech==1.6.0
azure-common==1.1.23
beautifulsoup4==4.7.1
boto3==1.9.159
botocore==1.12.159
bs4==0.0.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.3.9
cryptography==2.7
cycler==0.10.0
decorator==4.0.11
Django==2.2.4
djangorestframework==3.10.2
dnspython==1.16.0
docker==4.0.1
docopt==0.6.2
docutils==0.14
Flask==1.0.3
Flask-Cors==3.0.7
Flask-PyMongo==2.3.0
googlemaps==3.1.2
gTTS==2.0.3
gTTS-token==1.1.3
gunicorn==19.9.0
ibm-cloud-sdk-core==0.5.1
ibm-watson==3.0.4
idna==2.8
imageio==2.1.2
InstagramAPI==1.0.2
ioloop==0.1a0
isodate==0.6.0
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
lxml==4.3.4
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
moviepy==0.2.3.2
msrest==0.6.10
msrestazure==0.6.1
nexmo==2.4.0
numpy==1.16.4
oauthlib==3.1.0
opencage==1.2
opencv-python==4.1.0.25
optional-django==0.3.0
pandas==0.24.2
pbr==5.2.1
Pillow==6.1.0
pipreqs==0.4.9
pyasn1==0.4.5
PyAudio==0.2.11
pycodestyle==2.5.0
pycparser==2.19
pycurl==7.43.0.3
PyJWT==1.7.1
pylint==2.3.1
pymango==0.1.1
pymongo==3.8.0
pyobjc==5.2
pyobjc-core==5.2
pyobjc-framework-Accounts==5.2
pyobjc-framework-AddressBook==5.2
pyobjc-framework-AdSupport==5.2
pyobjc-framework-AppleScriptKit==5.2
pyobjc-framework-AppleScriptObjC==5.2
pyobjc-framework-ApplicationServices==5.2
pyobjc-framework-Automator==5.2
pyobjc-framework-AVFoundation==5.2
pyobjc-framework-AVKit==5.2
pyobjc-framework-BusinessChat==5.2
pyobjc-framework-CalendarStore==5.2
pyobjc-framework-CFNetwork==5.2
pyobjc-framework-CloudKit==5.2
pyobjc-framework-Cocoa==5.2
pyobjc-framework-Collaboration==5.2
pyobjc-framework-ColorSync==5.2
pyobjc-framework-Contacts==5.2
pyobjc-framework-ContactsUI==5.2
pyobjc-framework-CoreAudio==5.2
pyobjc-framework-CoreAudioKit==5.2
pyobjc-framework-CoreBluetooth==5.2
pyobjc-framework-CoreData==5.2
pyobjc-framework-CoreLocation==5.2
pyobjc-framework-CoreMedia==5.2
pyobjc-framework-CoreMediaIO==5.2
pyobjc-framework-CoreML==5.2
pyobjc-framework-CoreServices==5.2
pyobjc-framework-CoreSpotlight==5.2
pyobjc-framework-CoreText==5.2
pyobjc-framework-CoreWLAN==5.2
pyobjc-framework-CryptoTokenKit==5.2
pyobjc-framework-DictionaryServices==5.2
pyobjc-framework-DiscRecording==5.2
pyobjc-framework-DiscRecordingUI==5.2
pyobjc-framework-DiskArbitration==5.2
pyobjc-framework-DVDPlayback==5.2
pyobjc-framework-EventKit==5.2
pyobjc-framework-ExceptionHandling==5.2
pyobjc-framework-ExternalAccessory==5.2
pyobjc-framework-FinderSync==5.2
pyobjc-framework-FSEvents==5.2
pyobjc-framework-GameCenter==5.2
pyobjc-framework-GameController==5.2
pyobjc-framework-GameKit==5.2
pyobjc-framework-GameplayKit==5.2
pyobjc-framework-ImageCaptureCore==5.2
pyobjc-framework-IMServicePlugIn==5.2
pyobjc-framework-InputMethodKit==5.2
pyobjc-framework-InstallerPlugins==5.2
pyobjc-framework-InstantMessage==5.2
pyobjc-framework-Intents==5.2
pyobjc-framework-IOSurface==5.2
pyobjc-framework-iTunesLibrary==5.2
pyobjc-framework-LatentSemanticMapping==5.2
pyobjc-framework-LaunchServices==5.2
pyobjc-framework-libdispatch==5.2
pyobjc-framework-LocalAuthentication==5.2
pyobjc-framework-MapKit==5.2
pyobjc-framework-MediaAccessibility==5.2
pyobjc-framework-MediaLibrary==5.2
pyobjc-framework-MediaPlayer==5.2
pyobjc-framework-MediaToolbox==5.2
pyobjc-framework-ModelIO==5.2
pyobjc-framework-MultipeerConnectivity==5.2
pyobjc-framework-NaturalLanguage==5.2
pyobjc-framework-NetFS==5.2
pyobjc-framework-Network==5.2
pyobjc-framework-NetworkExtension==5.2
pyobjc-framework-NotificationCenter==5.2
pyobjc-framework-OpenDirectory==5.2
pyobjc-framework-OSAKit==5.2
pyobjc-framework-Photos==5.2
pyobjc-framework-PhotosUI==5.2
pyobjc-framework-PreferencePanes==5.2
pyobjc-framework-PubSub==5.2
pyobjc-framework-QTKit==5.2
pyobjc-framework-Quartz==5.2
pyobjc-framework-SafariServices==5.2
pyobjc-framework-SceneKit==5.2
pyobjc-framework-ScreenSaver==5.2
pyobjc-framework-ScriptingBridge==5.2
pyobjc-framework-SearchKit==5.2
pyobjc-framework-Security==5.2
pyobjc-framework-SecurityFoundation==5.2
pyobjc-framework-SecurityInterface==5.2
pyobjc-framework-ServiceManagement==5.2
pyobjc-framework-Social==5.2
pyobjc-framework-SpriteKit==5.2
pyobjc-framework-StoreKit==5.2
pyobjc-framework-SyncServices==5.2
pyobjc-framework-SystemConfiguration==5.2
pyobjc-framework-UserNotifications==5.2
pyobjc-framework-VideoSubscriberAccount==5.2
pyobjc-framework-VideoToolbox==5.2
pyobjc-framework-Vision==5.2
pyobjc-framework-WebKit==5.2
pyparsing==2.4.0
PySocks==1.7.0
python-dateutil==2.8.0
python-dotenv==0.10.1
pyttsx3==2.71
pytz==2019.1
PyYAML==3.13
pyzomato==0.5
react==4.3.0
redis==3.2.1
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.7.0
rsa==3.4.2
s3transfer==0.2.0
schedule==0.4.2
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.1
SpeechRecognition==3.8.1
sqlparse==0.3.0
stevedore==1.30.1
tornado==4.5.2
torngithub==0.2.0
tqdm==4.11.2
twilio==6.27.1
typed-ast==1.4.0
urllib3==1.24.3
virtualenv==16.6.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
websocket-client==0.48.0
Werkzeug==0.15.4
wrapt==1.11.2
xlrd==1.2.0
yarg==0.1.9
