body {
    background-color: white;
    color: black;
}

.link1 {
    color: black;
}

.form-control {
    height: 40px;
    box-shadow: none;
}

.form-control:focus {
    border: 2px solid rgb(23, 175, 23);
}

.form-control,
.btn {
    border-radius: 5px;
}

.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-form h2 {
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before,
.signup-form h2:after {
    content: "";
    height: 2px;
    width: 30%;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.signup-form h2:before {
    left: 0;
}

.signup-form h2:after {
    right: 0;
}

.signup-form .hint-text {
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form {
    border-radius: 3px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background-color: #c4c1e0;
    color: white;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
    margin-top: 3px;
}

.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
}

.signup-form .btn:hover {
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
}

.signup-form .row div:first-child {
    padding-right: 10px;
}

.signup-form .row div:last-child {
    padding-left: 10px;
}

.signup-form a {
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: #5c5eb8;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #7c73e6;
    color: whitesmoke;
    box-shadow: 0px 1px 3px black;
}

.btn:hover {
    box-shadow: 0px 1px 3px black;
    color: black;
    background-color: white;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: whitesmoke;
}