{% extends 'base1.html' %}

<script>
    {% block jquery %}
    var endpoint = '/'
    var endpoint2 = '/api/chart/data/'
    var defaultData = []
    var labels = [];
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            labels = data.labels
            defaultData = data.default
            setChart()
            $.ajax({
                method: "GET",
                url: endpoint2,
                success: function (data) {
                    labels = data.labels
                    defaultData = data.default
                    setChart()
                },
                error: function (error_data) {
                    console.log("error")
                    console.log(error_data)
                }
            });
        }
    });
    function setChart() {
        var ctx = document.getElementById("myChart");
        var ctx2 = document.getElementById("myChart2");
        var myChart = new Chart(ctx2, {
            type: 'polarArea',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Messages',
                    data: defaultData,
                    backgroundColor: [
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)',
                        'rgb(255, 0, 255)',
                        'rgb(255, 0, 191)',
                        'rgb(255, 0, 128)',
                        'rgb(255, 0, 64)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)',
                        'rgb(255, 0, 255)',
                        'rgb(255, 0, 191)',
                        'rgb(255, 0, 128)',
                        'rgb(255, 0, 64)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)',
                        'rgb(255, 0, 255)',
                        'rgb(255, 0, 191)',
                        'rgb(255, 0, 128)',
                        'rgb(255, 0, 64)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)'
                    ],
                    borderColor: [
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)',
                        'rgb(255, 0, 255)',
                        'rgb(255, 0, 191)',
                        'rgb(255, 0, 128)',
                        'rgb(255, 0, 64)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)',
                        'rgb(255, 0, 255)',
                        'rgb(255, 0, 191)',
                        'rgb(255, 0, 128)',
                        'rgb(255, 0, 64)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)',
                        'rgb(255, 0, 255)',
                        'rgb(255, 0, 191)',
                        'rgb(255, 0, 128)',
                        'rgb(255, 0, 64)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 0, 0)',
                        'rgb(255, 64, 0)',
                        'rgb(255, 128, 0)',
                        'rrgb(255, 191, 0)',
                        'rgb(255, 255, 0)',
                        'rgb(191, 255, 0)',
                        'rgb(128, 255, 0)',
                        'rgb(64, 255, 0)',
                        'rgb(0, 255, 0)',
                        'rgb(0, 255, 64)',
                        'rgb(0, 255, 128)',
                        'rgb(0, 255, 191)',
                        'rgb(0, 255, 255)',
                        'rgb(0, 191, 255)',
                        'rgb(0, 128, 255)',
                        'rgb(0, 64, 255)',
                        'rgb(0, 0, 255)',
                        'rgb(64, 0, 255)',
                        'rgb(128, 0, 255)',
                        'rgb(191, 0, 255)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var myChart2 = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: labels,
                datasets: [{
                    label: '# No.of Messages',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: options
        });
    }
    // var ctx = document.getElementById("myChart");
    {% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
        <main>
            <div class="col-md-12">
                <div class="container">
                    <h1 class="text-center animated fadeInLeft" style="margin-top: 10vh;">Engagement Monitor</h1>

                    <p style="color: black;margin-top:20px;" class="text-center animated fadeInLeft">Monitor and analyse
                        active or
                        disinterested members of a WhatsApp group.</p>
                </div>
            </div>

            <canvas id="myChart2" class="animated fadeInLeft"></canvas>


    </div>
</div>

</main>

{% endblock content %}