<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajax</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
var cust = "{{ cus }}"
console.log(cust)
$.ajax({
    type:"GET",
    url:'/home/',

    success:function(data){
        alert(data);
        console.log(data.cus);
    },
    error:function(error_data){
        alert(error_data);
    }
});


</script>    



</head>
<body>
    
<form id="Ajax_form">
    {% csrf_token %}
    <input type="text" id="name"/>
    <input type="email" id="email"/>
    <button type="submit">Submit</button>
</form>


</body>
</html>