{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <link rel="StyleSheet" type="text/css" href="{% static 'css/dash.css'%}">

</head>
<body>
  
<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
    <h2>{{user.username}}</h2>
  </header>
	<ul>
    <li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
    <li tabindex="0" class="icon-customers"><span>Customers</span></li>
    <li tabindex="0" class="icon-users"><span>Users</span></li>
    <li tabindex="0" class="icon-settings"><span><form method="POST" action="/logout/">
        {% csrf_token %}
        <button type="submit" name="Logout">Logout</button>
    </form></span></li>
  </ul>
</nav>

<main>
  <div class="helper">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Upload</button>
      </form>
      <div>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>

  </div>
</main>
</body>
</html>