{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="StyleSheet" type="text/css" href="{% static 'css/main.css'%}">
</head><body>  
    
    <h3>Hello! {{user.username}}</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myfile">
            <button type="submit">Upload</button>
          </form>
          <div>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
        </div>

<form method="POST" action="/logout/">
    {% csrf_token %}
    <button type="submit" name="Logout">Logout</button>
</form>

</html>