<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
        <form method="post" >
            {% csrf_token %}
            <input type="text" name="fname" placeholder="First Name">
            <input type="text" name="lname" placeholder="Last Name">
            <input type="email" name="email" placeholder="Email">
            <input type="number" name="number" placeholder="Phone Number">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="cpassword" placeholder="Confirm Password"> 
            <button type="submit">Register</button>
          </form>
          <div>
              {% for message in messages %}
              <h3>{{message}}</h3>
              {% endfor %}
          </div>
</body>
</html>
